@(message: String)

@main("Dashboard"){
    <br/>
    <br/>
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div><h1>Strategies</h1></div>
                        </div>
                    </div>
                </div>
                <a href="/strategies">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-dollar fa-fw"></i> Market Data
                </div>
                    <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>

                                    <th>Stock Symbol</th>
                                    <th>Ask</th>
                                    <th>Bid</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>AAPL</td>
                                    <td>100.75</td>
                                    <td>100.45</td>
                                </tr>
                                <tr>
                                    <td>INFY.BO</td>
                                    <td>3542.80</td>
                                    <td>3540.35</td>
                                </tr>
                                <tr>
                                    <td>MARKSANS.BO</td>
                                    <td>52.00</td>
                                    <td>51.60</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                        <!-- /.table-responsive -->
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-history fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div><h1>Transactions History</h1></div>

                        </div>
                    </div>
                </div>
                <a href="/action/history">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-history fa-fw"></i> Recent Transactions
                </div>
                    <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Stock Symbol</th>
                                    <th>Quantity</th>
                                    <th>Status</th>
                                    <th>Strike Price</th>
                                    <th>Performance</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>NasdaqNM: HPQ</td>
                                    <td>1200</td>
                                    <td>Closed</td>
                                    <td>36378.4</td>
                                    <td>112.7</td>
                                </tr>
                                <tr>

                                    <td>NasdaqNM: HPQ</td>
                                    <td>5400</td>
                                    <td>Open</td>
                                    <td>378.4</td>
                                    <td>112.7</td>
                                </tr>
                                <tr>

                                    <td>NasdaqNM: INTC</td>
                                    <td>300</td>
                                    <td>Open</td>
                                    <td>378.4</td>
                                    <td>112.7</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                        <!-- /.table-responsive -->
                </div>
                    <!-- /.panel-body -->
            </div>
        </div>
    </div>

    <!-- /.row -->
}{

}