@(stock: Stock, strategiesActive: List[executionmanagement.datatransferobjects.Strategy], strategiesClosed: List[Strategy], quote: marketdatamanagement.datatransferobjects.Quote)

@main(stock.companyName){
    <div class="row" style="padding-top: 20px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12">
                        <h1>@stock.companyName<span class="pull-right" ><h3>@stock.exchange: @stock.ticker</h3></span></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-lg-9">
            <div id="price_chart" style="height : 350px ; min-width : 310px"></div>
        </div>
            <div class="col-lg-3">
                 <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td>Change:</td><td id="change">@quote.getChange()</td>
                                </tr>
                                <tr>
                                    <td>Ask:</td><td id="ask">@quote.getAsk()</td>
                                </tr>
                                <tr>
                                    <td>Ask Size:</td>
                                    <td id="ask-size">@quote.getAskSize()</td>
                                </tr>
                                <tr>
                                    <td>Bid:</td>
                                    <td id="bid">@quote.getBid()</td>
                                </tr>
                                <tr>
                                    <td>Bid Size:</td>
                                    <td id="bid-size">@quote.getBidSize()</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                        <!-- /.table-responsive -->
                </div>
                    <!-- /.panel-body -->
                <div class="panel-body">
                        <!-- Button trigger modal -->
                    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                        Create New Strategy
                    </button>
                        <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Create New Strategy on @stock.exchange: @stock.ticker</h4>
                                </div>
                                <form action="/strategy/create" method="post">
                                    <div class="modal-body">
                                            <div class="form-group">
                                                <label for="ticker">Ticker</label>
                                                <input readonly class="form-control" id="ticker" name="ticker" value="@stock.ticker">
                                            </div>
                                            <div class="form-group">
                                                <label for="templateId">Template</label>
                                                <select class="form-control" id="templateId" name="templateId">
                                                    <option value="" selected disabled>Please select a strategy template ...</option>
                                                    <option value="1">Two Moving Averages Strategy</option>
                                                    <option disabled value="2">Bollinger Bands</option>
                                                    <option disabled value="3">Price Breakout</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="ticker">Strategy Nickname</label>
                                                <input class="form-control" id="name" name="name" value="My @stock.ticker Strategy">
                                            </div>
                                            <div class="form-group">
                                                <label for="volume">Volume</label>
                                                <input class="form-control" id="volume" name="volume"
                                                placeholder="Please input your target transaction volume ...">
                                            </div>

                                            <div class="form-group">
                                                <label for="profitPer">Profit Percentage</label>
                                                <input class="form-control" id="profitPer" name="profitPer"
                                                placeholder="Please enter target profit percentage ...">
                                            </div>

                                            <div class="form-group">
                                                <label for="lossPer">Loss Percentage</label>
                                                <input class="form-control" id="lossPer" name="lossPer"
                                                placeholder="Please enter maximum loss percentage ...">
                                            </div>

                                            <hr />
                                            <div id="tma-template-params">
                                                <div class="form-group">
                                                    <label for="longDur">Long Duration (days)</label>
                                                    <input class="form-control" id="longDur" name="longDur"
                                                    placeholder="Please enter a time period for long period calculation ...">
                                                </div>

                                                <div class="form-group">
                                                    <label for="shortDur">Short Duration (mins)</label>
                                                    <input class="form-control" id="shortDur" name="shortDur"
                                                    placeholder="Please enter a time period for short period calculation ...">
                                                </div>
                                            </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Create</button>
                                    </div>
                                </form>

                            </div>
                                <!-- /.modal-content -->
                        </div>
                            <!-- /.modal-dialog -->
                    </div>
                        <!-- /.modal -->
                </div>


            </div>
                <!-- /.panel -->
        </div>
    <br/>
    <div class="row">
        <div class="col-lg-10">
            <div class="panel panel-default">

                <div class="panel-body">
                        <!-- Nav tabs -->
                    <ul class="nav nav-pills">
                        <li class="active"><a href="#active-pills" data-toggle="tab">Active Strategies</a>
                        </li>
                        <li><a href="#closed-pills" data-toggle="tab">Closed Strategies</a>
                        </li>
                    </ul>

                        <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="active-pills">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Strategy Name</th>
                                            <th>Remainging / Volume</th>
                                            <th>Target Range</th>
                                            <th>Performance</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for(strategy <- strategiesActive) {
                                            <tr>
                                                <td>
                                                    @if(strategy.getIsClose == null) {
                                                        <a href="/strategy/activate/@strategy.getId" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-play"></span></a>
                                                    } else {
                                                        <a href="/strategy/deactivate/@strategy.getId" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-play"></span></a>
                                                    }
                                                </td>
                                                <td>{strategy name}</td>
                                                <td>@strategy.getRemaingVolume / @strategy.getVolume</td>
                                                <td>@strategy.getPercentProfit% ~ -@strategy.getPercentLoss%</td>
                                                <td>@strategy.getId</td>
                                                <td><a href="#" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-pencil"></span> Modify</a></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="closed-pills">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Strategy Name</th>
                                            <th>Remainging / Volume</th>
                                            <th>Target Range</th>
                                            <th>Performance</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    @for(strategy <- strategiesClosed) {
                                        <tr>
                                            <td>{strategy name}</td>
                                            <td>@strategy.remainingVol / @strategy.vol</td>
                                            <td>@strategy.profitPercent% ~ -@strategy.lossPercent%</td>
                                            <td>@strategy.stratId</td>
                                            <td><a href="#" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-pencil"></span> Modify</a></td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                    <!-- /.panel-body -->
            </div>
        </div>
    </div>
}{
    <script src="@routes.Assets.at("js/plugins/highstock/highstock.js")"></script>
    <script src="@routes.Assets.at("js/plugins/highstock/exporting.js")"></script>
    <script type="application/javascript">
    $(function () {

    Highcharts.setOptions({
    global : {
    useUTC : false
    }
    });

    // Create the chart
    $('#price_chart').highcharts('StockChart', {
    chart : {
    events : {
    load : function () {
    // updating json
    // set up the updating of the chart each second
    var series = this.series[0];
    setInterval(function () {
    $.ajax({
    type: "GET",
    url: "/stock/price",
    data: "symbol=@stock.ticker",
    dataType: "json",
    success: function(result) {
    var x = result.timestamp, // current time
    y = result.price;
    series.addPoint([x, y], true, true);
        $('#ask').text(result.ask);
        if(result.askSize == -1){
        $('#ask-size').text("N/A");
        }else {
        $('#ask-size').text(result.askSize);
        }
        if(result.bidSize == -1){
        $('#bid-size').text("N/A");
        }else {
        $('#bid-size').text(result.bidSize);
        }
        $('#bid').text(result.bid);
        $('#change' ).text(result.change);
    }
    });

    }, 20000);
    }
    }
    },

    rangeSelector: {
    buttons: [{
    count: 10,
    type: 'minute',
    text: '10M'
    }, {
    count: 60,
    type: 'minute',
    text: '1h'
    }, {
    type: 'all',
    text: 'All'
    }],
    inputEnabled: false,
    selected: 0
    },

    exporting: {
    enabled: true
    },

    series : [{
    name : 'Price',
    data : (function () {
    // generate an array of random data
    var data = [], time = (new Date()).getTime(), i;

    for (i = -999; i <= 0; i += 1) {
    data.push([
    time + i * 999,
    null
    ]);
    }
    return data;
    }())
    }]
    });

    });

    </script>
}
