@(strategy_title: String)

 @content = {
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Moving Line Chart Example
            </div>
                <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="flot-chart">
                    <div class="flot-chart-content" id="flot-line-chart-moving"></div>
                </div>
            </div>
                <!-- /.panel-body -->
        </div>
            <!-- /.panel -->
    </div>
}
@main(strategy_title)(content)(null)