@(strategiesActive: List[Strategy], strategiesClosed: List[Strategy])


    @content = {
        <div class="row">
            <h1 class="page-header">My Strategies</h1>
        </div>
        <div class="row">

            <div class="panel-body" style="padding-top: 20px">
                    <!-- Nav tabs -->
                <ul class="nav nav-tabs" style="margin-bottom: 20px">
                    <li class="active" >
                        <a href="#active" data-toggle="tab"><i class="fa fa-tasks"></i> &nbspActive Strategies</a>
                    </li>
                    <li class="">
                        <a href="#history" data-toggle="tab"><i class="fa fa-history"></i> &nbspClosed Strategies</a>
                    </li>
                </ul>

                    <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="active">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default">

                                    <div class="panel-body">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover" id="dataTables-active">
                                                <thead>
                                                    <tr>
                                                        <th>Stock Symbol</th>
                                                        <th>Template</th>
                                                        <th>Volume</th>
                                                        <th>Profit Percentage</th>
                                                        <th>Loss Percentage</th>
                                                        <th>Exchange</th>
                                                        <th style="padding-right : 20 px"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                @for(strategy <- strategiesActive) {
                                                    <tr>
                                                        <td>@strategy.stock.ticker</td>
                                                        <td>@strategy.templateId.name</td>
                                                        <td>@strategy.remainingVol / @strategy.vol</td>
                                                        <td>@strategy.profitPercent%</td>
                                                        <td>-@strategy.lossPercent%</td>
                                                        <td>@strategy.stock.exchange</td>
                                                        <td><a href="/strategy/modify/@strategy.stratId" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-edit"></span>
                                                            Modify</a></td>
                                                    </tr>
                                                }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div></div></div>
                    </div>

                    <div class="tab-pane fade" id="history">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default">

                                        <!-- /.panel-heading -->
                                    <div class="panel-body">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                                <thead>
                                                    <tr>
                                                        <th>Template</th>
                                                        <th>Stock Symbol</th>
                                                        <th>Quantity</th>
                                                        <th>Long Duration (days)</th>
                                                        <th>Short Duration (mins)</th>
                                                        <th>Performance</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @for(strategy <- strategiesClosed) {
                                                        <tr>
                                                            <td>@strategy.stock.ticker</td>
                                                            <td>@strategy.templateId.name</td>
                                                            <td>@strategy.vol</td>
                                                            <td>@strategy.profitPercent%</td>
                                                            <td>-@strategy.lossPercent%</td>
                                                            <td>@strategy.stock.exchange</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                            <!-- /.table-responsive -->
                                    </div>
                                        <!-- /.panel-body -->
                                </div>
                                    <!-- /.panel -->
                            </div>
                                <!-- /.col-lg-12 -->
                        </div>

                    </div>

                 </div>

            </div>
       </div>




    }


@main("Strategies")(content) {
    <!-- DataTables JavaScript -->
    <script src="@routes.Assets.at("js/plugins/dataTables/jquery.dataTables.js")"></script>
    <script src="@routes.Assets.at("js/plugins/dataTables/dataTables.bootstrap.js")"></script>

    <script>
        $(document).ready(function() {
            $('#dataTables-active').dataTable();
            $('#dataTables-example').dataTable();
        });
    </script>
}


